.Landingpage{
    height: 100vh;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    .buttons{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-60%);
        button{
            display: block;
            padding : 20px 20px;
            margin-top: 20px;
            width: 100%;
            // font-size: 18px;
            // font-weight: 900;
        }
    }
}